#common{
    position: relative;
    transition: all 0.3s ease-in;
}

#common::before{
    content: "";
    width: 0vw;
    height: 2px;
    position: absolute;
    background-color: rgb(30, 64, 175);
    inset: 0;
    transform: translateY(2vw);
    transition: all 0.3s ease-in;
}

#common:hover::before{
    width: 2.8vw;
}

#common:hover{
    color: rgb(30, 64, 175);
}

#calculator_container{
    width: 37vw;
    height: 20vw;
}

#control_container{
    width: 40%;
    height: 8vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}